body::before{
    display: block;
    content: '';
    height: 50px;
}
@media (min-width: 768px) {

    .news-input {

        max-width: 50%;
    }
}
.licolor::marker{
    color: orange;
}
@media (max-width: 992px) {
   
    .imgpaddingtop {
      padding-top: 1rem;
      width: 600px;
    }
    .instructor{
        text-align: justify;
    }
    
    .textalign{
        text-align: justify;
    }
    .textshowcase{
      padding-left: 15px;
      padding-right: 15px;
      text-align: justify;
    }
    .buttonenroll{
      margin-left: 10px;
    }
    .aboutusjus{
      text-align: justify;
    }
  }
  @media (min-width: 992px) {
   
    .imgpaddingtop {
     
      width: 400px;
    }
  }
